{% extends 'base.html'%}
{% load static %}
{% load humanize %}


{% block content %}
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-file-text" aria-hidden="true"></i>
                  </div>
                  <p class="card-category">Total Cases</p>
                  <h3 class="card-title">{{ world_total_cases|intcomma }}
                    <!-- <small>GB</small> -->
                  </h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <!-- <i class="material-icons text-warning">warning</i> -->
                    <!-- <a href="#pablo" class="warning-link">Get More Space...</a> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </div>
                  <p class="card-category">Total Deaths</p>
                  <h3 class="card-title" style="color: #da3a36;">{{ world_total_deaths|intcomma }}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <!-- <i class="material-icons">date_range</i> Last 24 Hours -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-medkit" aria-hidden="true"></i>
                  </div>
                  <p class="card-category">Recovered</p>
                  <h3 class="card-title" style="color: #52af49;">{{ world_total_recovered|intcomma }}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <!-- <i class="material-icons">local_offer</i> Tracked from Github -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-heartbeat" aria-hidden="true"></i>
                  </div>
                  <p class="card-category">Critical</p>
                  <h3 class="card-title">{{ world_total_critical|intcomma }}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <!-- <i class="material-icons">update</i> Just Updated -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="input-group no-border">
            <input type="text" id="myInput" onkeyup="myFunction()" value="" class="form-control" placeholder="Search...">
            <!-- <button type="submit" class="btn btn-default btn-round btn-just-icon">
              <i class="material-icons">search</i>
              <div class="ripple-container"></div>
            </button> -->
          </div>

          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <!-- <h4 class="card-title">Employees Stats</h4> -->
                  <p class="card-category">Confirmed Cases and Deaths by Country, Territory, or Conveyance.</p>
                </div>
                <div class="card-body table-responsive">


                  <table id="myTable" class="table table-hover" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th>Country
                        </th>
                        <th>Total Cases
                        </th>
                        <th>New Cases
                        </th>
                        <th>Total Deaths
                        </th>
                        <th>New Deaths
                        </th>
                        <th>Total Recovered
                        </th>
                        <th>Active Cases
                        </th>
                        <th>Critical
                        </th>
                        <!-- <th>Cases/1M Pop
                        </th>
                        <th>Deaths/1M Pop
                        </th> -->
                      </tr>
                    </thead>
                    {% for item in country %}
                    <tbody>
                        <tr>
                            {% for key, value in item.items %}
                                {% if key == 'country' %}
                                    {% if value == 'UK' %}
                                        <td><b><u><a href="{% url 'united-kingdom-cases' %}">{{ value }}</a></u></b></td>
                                    {% elif value == 'USA' %}
                                        <td><b><u><a href="{% url 'usa-cases' %}">{{ value }}</a></u></b></td>
                                    {% else %}
                                        <td><b><u>{{ value }}</u></b></td>
                                    {% endif %}
                                {% endif %}
                                {% if key == 'cases' %}
                                    <td>{{ value|intcomma }}</td>
                                {% endif %}
                                {% if key == 'todayCases' %}
                                    {% if value == 0 %}
                                        <td></td>
                                    {% else %}
                                        <td style="color: #ff9800;">+{{ value|intcomma }}</td>
                                    {% endif %}
                                {% endif %}
                                {% if key == 'deaths' %}
                                    {% if value == 0 %}
                                        <td></td>
                                    {% else %}
                                    <td>{{ value|intcomma }}</td>
                                    {% endif %}
                                {% endif %}
                                {% if key == 'todayDeaths' %}
                                    {% if value == 0 %}
                                        <td></td>
                                    {% else %}
                                        <td style="color: #da3a36;">+{{ value|intcomma }}</td>
                                    {% endif %}
                                {% endif %}
                                {% if key == 'recovered' %}
                                    {% if value == 0 %}
                                        <td></td>
                                    {% else %}
                                        <td>{{ value|intcomma }}</td>
                                    {% endif %}  
                                {% endif %}
                                {% if key == 'active' %}
                                    {% if value == 0 %}
                                        <td></td>
                                    {% else %}
                                        <td>{{ value|intcomma }}</td>
                                    {% endif %}
                                {% endif %}
                                {% if key == 'critical' %}
                                    {% if value == 0 %}
                                        <td></td>
                                    {% else %}
                                        <td>{{ value|intcomma }}</td>
                                    {% endif %}
                                {% endif %}
                                <!-- {% if key == 'casesPerOneMillion' %}
                                    {% if not value %}
                                        <td></td>
                                    {% else %}
                                        <td>{{ value|intcomma }}</td>
                                    {% endif %}
                                {% endif %}
                                {% if key == 'deathsPerOneMillion' %}
                                    {% if not value %}
                                        <td></td>
                                    {% else %}
                                        <td>{{ value|intcomma }}</td>
                                    {% endif %}
                                {% endif %} -->
                            {% endfor %}
                        </tr>
                    </tbody>
                    {% endfor %}
                    <tfoot>
                      <tr>
                        <th>Total
                        </th>
                        <th>{{ world_total_cases|intcomma }}
                        </th>
                        <th style="color: #ff9800;">+{{ world_total_todayCases|intcomma }}
                        </th>
                        <th>{{ world_total_deaths|intcomma }}
                        </th> 
                        <th style="color: #da3a36;">+{{ world_total_todayDeaths|intcomma }}
                        </th>
                        <th>{{ world_total_recovered|intcomma }}
                        </th>
                        <th>{{ world_total_active|intcomma }}
                        </th>
                        <th>{{ world_total_critical|intcomma }}
                        </th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}