{% extends 'base.html' %}
{% load static %}
            
{% block content %}

<div>
<div class="video__icon" style="margin-top: 12px; margin-left: 30px;">
    <div class="circle--outer"></div>
    <div class="circle--inner"></div>
    
</div>

<h1 style="margin-left: 60px; font-size: 24px;"><b><span style="color: #e50040;">Live </span></b>Coronavirus Cases <span class="label label-danger">United Kingdom</span></h1>
</div>

<br>


<div class="container-fluid">
    <!-- Control the column width, and how they should appear on different devices -->
    <div class="row">

<div class="animated fadeIn col-md-9">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-1">
                            <i class="fa fa-file-text" aria-hidden="true"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text">Total Cases</div>
                                <div class="stat-heading"><b><span style="font-size: 18pt;">{{ uk_total_cases }}</span></b></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-2">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </div>
                        <div class="stat-content">   
                            <div class="text-left dib">
                                <div class="stat-text">Total Deaths</div>
                                <div class="stat-heading" style="color: #e50040;"><b><span style="font-size: 18pt;">{{ uk_total_deaths }}</span></b></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-3">
                            <i class="fa fa-medkit" aria-hidden="true"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text">Recovered</div>
                                <div class="stat-heading" style="color: #52af49;"><b><span style="font-size: 18pt;">{{ uk_total_recovered }}</span></b></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-4">
                            <i class="fa fa-heartbeat" aria-hidden="true"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text">Critical</div>
                                <div class="stat-heading"><b><span style="font-size: 18pt;">{{ uk_total_critical }}</span></b></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   

    <a href="#news-section" class="nav-link"><span class="label label-danger">Latest</span> <u>News Worldwide</u></a>
    <!-- <h5 style="float: left;">Confirmed Cases and Deaths by Country, Territory, or Conveyance.</h5> -->
    <h5 style="float: right;">Listed by local authority for England, health board for Scotland. Statistics for Wales and Northern Ireland are not broken down by area.</h5>


    <div class="clearfix col-md-12"></div>
    
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by City...">
    <a class="button" href="{% url 'home' %}" role="button">Back to Country</a>
    <br/>

    <!-- Orders -->
    <div class="orders">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                        <table id="myTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                            <thead>
                              <tr>
                                <th class="th-sm" style="background-color: black; color: white;">City
                                </th>
                                <th class="th-sm" style="background-color: black; color: white;">Total Cases
                                </th>
                              </tr>
                            </thead>
                            {% for item in uk_list %}
                            <tbody>
                                <tr>
                                    {% for key, value in item.items %}
                                        {% if key == 'City' %}
                                            <td><b><u>{{ value }}</u></b></td>
                                        {% endif %}
                                        {% if key == 'Cases' %}
                                            <td>{{ value }}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </tbody>
                            {% endfor %}


                          </table>

                          
                </div> <!-- /.card -->
            </div>  <!-- /.col-lg-8 -->
        </div>
    </div>
</div>


<div class="col-md-3">
    
    <!-- <a href="https://indiafightscorona.giveindia.org/" target="_blank"><img src="{% static 'img/donateindia.png' %}" alt="Smiley face"></a> -->
    
    <section class="ftco-section ftco-no-pb goto-here" id="news-section">
    <h4>Latest Updates</h4>
    <span class="label label-danger">News Worldwide</span>
    {% for item in plain_news_list %}
        
        {{item}}
        <br/>
        <br/>
    {% endfor %}
    </section>
</div>

    </div>
</div>

<!-- jQuery -->
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
<!-- Your custom scripts (optional) -->
<script type="text/javascript"></script>

<!-- MDBootstrap Datatables  -->
<script type="text/javascript" src="{% static 'js/addons/datatables.min.js' %}"></script>



<script>
  function myFunction() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
  
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>


{% endblock content %}