{% extends 'base.html'%}
{% load static %}
{% load humanize %}


{% block content %}
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-file-text" aria-hidden="true"></i>
                  </div>
                  <p class="card-category">Total Cases</p>
                  <h3 class="card-title">{{ usa_total_cases|intcomma }}
                    <!-- <small>GB</small> -->
                  </h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <!-- <i class="material-icons text-warning">warning</i> -->
                    <!-- <a href="#pablo" class="warning-link">Get More Space...</a> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </div>
                  <p class="card-category">Total Deaths</p>
                  <h3 class="card-title" style="color: #da3a36;">{{ usa_total_deaths|intcomma }}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <!-- <i class="material-icons">date_range</i> Last 24 Hours -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-medkit" aria-hidden="true"></i>
                  </div>
                  <p class="card-category">Recovered</p>
                  <h3 class="card-title" style="color: #52af49;">{{ usa_total_recovered|intcomma }}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <!-- <i class="material-icons">local_offer</i> Tracked from Github -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-heartbeat" aria-hidden="true"></i>
                  </div>
                  <p class="card-category">Critical</p>
                  <h3 class="card-title">{{ usa_total_critical|intcomma }}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <!-- <i class="material-icons">update</i> Just Updated -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="input-group no-border">
            <input type="text" id="myInput" onkeyup="myFunction()" value="" class="form-control" placeholder="Search...">
            <!-- <button type="submit" class="btn btn-default btn-round btn-just-icon">
              <i class="material-icons">search</i>
              <div class="ripple-container"></div>
            </button> -->
          </div>

          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <!-- <h4 class="card-title">Employees Stats</h4> -->
                  <p class="card-category">Get stats on United States of America States with COVID-19, including cases, new cases, deaths, new deaths, and active cases.</p>
                </div>
                <div class="card-body table-responsive">
                    <table id="myTable" class="table table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                              <th>State
                              </th>
                              <th>Total Cases
                              </th>
                              <th>New Cases
                              </th>
                              <th>Total Deaths
                              </th>
                              <th>New Deaths
                              </th>
                              <th>Active Cases
                              </th>
                            </tr>
                          </thead>



                          {% for item in states %}
                          <tbody>
                              <tr>
                                  {% for key, value in item.items %}
                                      {% if key == 'state' %}
                                      <td>{{ value|intcomma }}</td>
                                      {% endif %}
                                      {% if key == 'cases' %}
                                        {% if value == 0 %}
                                            <td></td>
                                        {% else %}
                                          <td>{{ value|intcomma }}</td>
                                        {% endif %}
                                      {% endif %}
                                      {% if key == 'todayCases' %}
                                        {% if value == 0 %}
                                            <td></td>
                                        {% else %}
                                            <td style="color: #ff9800;">+{{ value|intcomma }}</td>
                                        {% endif %}
                                      {% endif %}
                                      {% if key == 'deaths' %}
                                        {% if value == 0 %}
                                            <td></td>
                                        {% else %}
                                            <td>{{ value|intcomma }}</td>
                                        {% endif %}
                                      {% endif %}
                                      {% if key == 'todayDeaths' %}
                                        {% if value == 0 %}
                                            <td></td>
                                        {% else %}
                                            <td style="color: #da3a36;">+{{ value|intcomma }}</td>
                                        {% endif %}
                                      {% endif %}
                                      {% if key == 'active' %}
                                        {% if value == 0 %}
                                            <td></td>
                                        {% else %}
                                            <td>{{ value|intcomma }}</td>
                                        {% endif %}
                                      {% endif %}
                                  {% endfor %}
                              </tr>
                          </tbody>
                          {% endfor %}
                    
                      </table> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}